
STORAGE_PROVIDER='local'
LOCAL_UPLOAD_DIR='./uploads'
LOCAL_BASE_URL='http://10.0.2.2:3000/uploads' 
#ios http://localhost:3000/uploads

AI_PROVIDER='gemini'
GEMINI_MODEL='gemini-2.0-flash-lite'
GEMINI_API_KEY='AIzaSyBAtDd3hHzwFS61YLqlComIwsDgtw0Qu-o'

AI_ENABLED=false

DATABASE_URL="postgresql://postgres:lenriquez93@localhost:5432/turbo-app_v1"
BETTER_AUTH_SECRET=e6yZFefxaTWWxqbsyTPoTedSZCOeedQZ
BETTER_AUTH_URL=http://10.0.2.2:3000
CORS_ORIGIN=http://localhost:5173
EXPO_PUBLIC_API_URL=http://10.0.2.2:3000 

STORAGE_PROVIDER=local
R2_ACCOUNT_ID=xxx
R2_ACCESS_KEY_ID=xxx
R2_SECRET_ACCESS_KEY=xxx
R2_BUCKET=mi-bucket
R2_PUBLIC_URL=https://pub-xxx.r2.dev