DATABASE_URL="postgresql://postgres:postgres@localhost:5432/wardrobe_v2"
AI_API_KEY=
NODE_ENV=development

STORAGE_PROVIDER='local'
LOCAL_UPLOAD_DIR='./uploads'
LOCAL_BASE_URL="http://localhost:3000/uploads"  #android http://10.0.2.2:3000/uploads

AI_PROVIDER=
 GEMINI_MODEL=gemini-2.0-flash #good for image processing and free
GEMINI_API_KEY=


AI_ENABLED=false   # desarrollo sin gastar tokens
# AI_ENABLED=true  # producción o cuando quieras probar la IA